/* Basic Reset */
:global(body), :global(html), :global(ul), :global(li), :global(h1), :global(p) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Contact Page */
.contactPage {
  padding: 50px;
  background-color: #f9f9f9;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contactInfo {
  width: 40%;
  padding: 20px;
  font-size: 16px;
  color: #333;
}

.contactInfo div {
  margin-bottom: 20px;
}

.contactInfo i {
  color: #000;
  margin-right: 10px;
  font-size: 18px;
}

.contactForm {
  width: 55%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formGroup input, .formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

.submitBtn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitBtn:hover {
  background-color: #000;
}

.feedback {
  margin-top: 20px;
  font-size: 18px;
  color: #000;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    align-items: center;
  }

  .contactInfo, .contactForm {
    width: 100%;
    padding: 20px;
  }

  .header h1 {
    font-size: 28px;
  }

  .formGroup input, .formGroup textarea {
    font-size: 14px;
  }

  .submitBtn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 24px;
  }

  .contactInfo {
    font-size: 14px;
  }

  .submitBtn {
    padding: 6px 12px;
    font-size: 12px;
  }

  .feedback {
    font-size: 16px;
  }
}
