/* Basic Reset */
:global(body), :global(html), :global(ul), :global(li), :global(h1), :global(p) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Create Article Page */
  .createArticlePage {
    padding: 50px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createArticleForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input, .formGroup textarea, .formGroup select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitBtn {
    background-color: #536DFE;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .submitBtn:hover {
    background-color: #3B4CCA;
  }
  
  .feedback {
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  