.footer-back {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
  }
  
  .footer-content p {
    margin: 10px 0;
  }
  
  .footer-content a {
    color: #F76C6C;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  