/* Basic Reset */
body, html, ul, li, h1, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: center; /* Center the menu */
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  position: relative; /* Ensure positioning relative to other elements */
  z-index: 1000; /* Ensure header is above other elements */
}

.logo-container {
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border: 2px solid #F76C6C;
  padding: 5px 10px;
}

.nav {
  margin-left: -20%;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.nav a.active,
.nav a:hover {
  color: #000;
}

/* Main Content */
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: #fff;
  position: relative; /* Ensure relative positioning for the backdrop */
}

.intro {
  max-width: 50%;
  margin-top: -10%;
}

.intro-tag {
  display: inline-block;
  background-color: #E2E9EF;
  color: #000;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.contentt {
  font-size: 40px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.paragraph1 {
  margin-top: 10%;
}

.names {
  font-size: 65px;
  margin-bottom: 0px;
  margin-top: 100px;
  font-weight: bold;
}

p {
  font-size: 24px;
  color: #444;
}

.highlight.designer {
  color: #000;
}

.highlight.developer {
  color: #000;
}

.hire-me-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50px;
  /* border: 2px solid #F76C6C;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px; */
  margin-top: 20px;
}

.hire-me-btn:hover {
  background-color: #000;
}

.profile-picture-container {
  position: relative;
  max-width: 45%; /* Adjusted for better alignment */
  z-index: 1; /* Ensure it is above the backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  max-width: 635px;
  border-radius: 20px;
}

/* Footer */
.footer {
  padding: 30px 100px;
  background-color: #fff;
  text-align: center;
}


.hire-link {
  list-style: none;
}

.hire-link a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.hire-link a:hover {
  color: #fff;
}
